$background: #F4F4F4;
$text-color: #151515;
$secondary-text: #222222;
$fonts: 'Inter', Arial, sans-serif;
$article-width: 460px;
$button-text: #FFFFFF;
$footer-color: #EFEFEF;
$button-color: #24B47E;
$border-color: #E3E3E3;
$not-active-color: #CACACA;
$border-top: 1px solid $border-color;
$background-dark: #333333;
$secondary-dark: #E5E5E5;
$button-dark: #434343;
$switcher-background: #545454;
$footer-dark: #2F2F2F;
