$background: #F4F4F4;
$text-color: #151515;
$secondary-text: #222222;
$fonts: 'Inter', Arial, sans-serif;
$article-width: 460px;
$button-text: #FFFFFF;
$footer-color: #EFEFEF;
$button-color: #24B47E;

